/* * {
  outline: 1px solid red;
} */

:root {
  --font-family: 'Open Sans', sans-serif;
  --second-fond-family: 'Roboto', sans-serif;
  --color-menu-hover: #1abc9c;
  --color-menu: #0f0101;
  --color-top-menu: #fff;
  --color-logo: #555252;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #515151;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Top header */
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.tell-mail {
  display: flex;
}

.header-top {
  height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1abc9c;
}

.list {
  list-style: none;
}

.mail-link {
  padding-left: 65px;
}

.phone-link,
.mail-link {
  font-family: var(--font-family);
  color: var(--color-top-menu);
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.6px;
  font-weight: 300;
  display: flex;
}

.phone-link::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/header-icons/tell.png);
  background-repeat: no-repeat;
}

.mail-link::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-right: 4px;
  background-image: url(../images/icons/header-icons/mail.png);
  background-repeat: no-repeat;
}

.page-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.page-menu__item {
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.page-menu__link {
  display: block;
  font-family: var(--font-family);
  color: var(--color-top-menu);
  font-weight: 300;
  font-size: 14px;
  line-height: 11px;
  text-decoration: none;
}
/* <!-- Nav header --> */
.logo {
  font-family: var(--second-fond-family);
  color: var(--color-logo);
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 300;
  text-decoration: none;
  display: flex;
  margin-right: auto;
  text-transform: uppercase;
}

.logo::first-letter {
  font-family: var(--second-fond-family);
  font-weight: 900; 
  cursor: var(--color-menu-hover);
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

}
.nav-menu {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  display: flex;
}

.nav-menu__link {
  display: block;
  padding-right: 16px;
  padding-left: 16px;
  color: #0f0101;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.6px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-menu__link:hover,
.nav-menu__link:focus {
  color: #1abc9c;
}
